---
import Link from "./ui/link.astro";
import tankImage from "@/assets/tank.png";
import shipImage from "@/assets/ship.png";
import jetImage from "@/assets/jet.png";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Defense Capabilities across Airforce, Army, Navy
  </h2>
  <div class="overflow-x-auto whitespace-nowrap py-4 px-2 space-x-4 flex">
    <img src={tankImage} class="inline-block h-64 rounded-lg shadow-lg" />
    <img src={shipImage} class="inline-block h-64 rounded-lg shadow-lg" />
    <img src={jetImage} class="inline-block h-64 rounded-lg shadow-lg" />
  </div>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Our expertise extends in all three fields. Check out services to learn more. 
  </p>
  <div class="flex mt-5">
    <Link href="pricing" style="inverted">Check Out Services</Link>
  </div>
</div>
